parameters:
	ignoreErrors:
		-
			message: "#^Method Datana\\\\MongoDB\\\\AI\\\\MongoDBAIClient\\:\\:AIggregate\\(\\) has parameter \\$examples with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/MongoDBAIClient.php

		-
			message: "#^Method Datana\\\\MongoDB\\\\AI\\\\MongoDBAIClient\\:\\:AIggregate\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/MongoDBAIClient.php

		-
			message: "#^Method Datana\\\\MongoDB\\\\AI\\\\MongoDBAIClient\\:\\:AIggregate\\(\\) has parameter \\$prompt with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/MongoDBAIClient.php

		-
			message: "#^Method Datana\\\\MongoDB\\\\AI\\\\MongoDBAIClient\\:\\:AIggregate\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: src/MongoDBAIClient.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|null given\\.$#"
			count: 1
			path: src/MongoDBAIClient.php

		-
			message: "#^Method Datana\\\\MongoDB\\\\AI\\\\MongoDBAIClientInterface\\:\\:AIggregate\\(\\) has parameter \\$examples with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/MongoDBAIClientInterface.php

		-
			message: "#^Method Datana\\\\MongoDB\\\\AI\\\\MongoDBAIClientInterface\\:\\:AIggregate\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/MongoDBAIClientInterface.php

		-
			message: "#^Method Datana\\\\MongoDB\\\\AI\\\\MongoDBAIClientInterface\\:\\:AIggregate\\(\\) has parameter \\$prompt with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/MongoDBAIClientInterface.php

		-
			message: "#^Method Datana\\\\MongoDB\\\\AI\\\\MongoDBAIClientInterface\\:\\:AIggregate\\(\\) return type has no value type specified in iterable type Traversable\\.$#"
			count: 1
			path: src/MongoDBAIClientInterface.php

